.u-section-1 .u-sheet-1 {
  min-height: 949px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 62px auto 0 -17px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 215px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  height: 137px;
  margin: 9px 0 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 215px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 215px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 58px -13px 0;
}

.u-section-1 .u-icon-1 {
  font-size: 0.7em;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 215px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 215px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 58px -22px 0;
}

.u-section-1 .u-layout-wrap-2 {
  margin: 0 auto 0 -17px;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 215px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  height: 137px;
  margin: 9px 0 0 auto;
}

.u-section-1 .u-layout-cell-7 {
  min-height: 215px;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-8 {
  min-height: 215px;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 58px -13px 0;
}

.u-section-1 .u-icon-2 {
  font-size: 0.7em;
}

.u-section-1 .u-layout-cell-9 {
  min-height: 215px;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-10 {
  min-height: 215px;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 58px -22px 0;
}

.u-section-1 .u-layout-wrap-3 {
  margin: -2px auto 0 -17px;
}

.u-section-1 .u-layout-cell-11 {
  min-height: 215px;
}

.u-section-1 .u-container-layout-11 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  height: 137px;
  margin: 9px 0 0 auto;
}

.u-section-1 .u-layout-cell-12 {
  min-height: 215px;
}

.u-section-1 .u-container-layout-12 {
  padding: 30px;
}

.u-section-1 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-13 {
  min-height: 215px;
}

.u-section-1 .u-container-layout-13 {
  padding: 30px;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 58px -13px 0;
}

.u-section-1 .u-icon-3 {
  font-size: 0.7em;
}

.u-section-1 .u-layout-cell-14 {
  min-height: 215px;
}

.u-section-1 .u-container-layout-14 {
  padding: 30px;
}

.u-section-1 .u-text-9 {
  font-size: 1.25rem;
  margin: 62px auto 0;
}

.u-section-1 .u-layout-cell-15 {
  min-height: 215px;
}

.u-section-1 .u-container-layout-15 {
  padding: 30px;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 58px -22px 0;
}

.u-section-1 .u-text-10 {
  width: 158px;
  margin: 55px auto 0;
}

.u-section-1 .u-btn-7 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 51px auto 39px;
  padding: 18px 96px 19px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 835px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 177px;
  }

  .u-section-1 .u-image-1 {
    height: 104px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 177px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 177px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 177px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 177px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 177px;
  }

  .u-section-1 .u-image-2 {
    height: 104px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 177px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 177px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 177px;
  }

  .u-section-1 .u-layout-cell-10 {
    min-height: 177px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-3 {
    margin-top: 6px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-11 {
    min-height: 177px;
  }

  .u-section-1 .u-image-3 {
    height: 104px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-12 {
    min-height: 177px;
  }

  .u-section-1 .u-layout-cell-13 {
    min-height: 177px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-14 {
    min-height: 177px;
  }

  .u-section-1 .u-layout-cell-15 {
    min-height: 177px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 134px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 39px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1621px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 339px;
  }

  .u-section-1 .u-image-1 {
    height: 244px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 339px;
  }

  .u-section-1 .u-image-2 {
    height: 244px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-10 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-11 {
    min-height: 339px;
  }

  .u-section-1 .u-image-3 {
    height: 244px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-12 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-13 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-14 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-15 {
    min-height: 100px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 103px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 3px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2431px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 509px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 423px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 509px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    height: 423px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-11 {
    min-height: 509px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    height: 423px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 77px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 39px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1864px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 320px;
  }

  .u-section-1 .u-image-1 {
    height: 260px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 320px;
  }

  .u-section-1 .u-image-2 {
    height: 260px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-11 {
    min-height: 320px;
  }

  .u-section-1 .u-image-3 {
    height: 260px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-10 {
    margin-right: 48px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 82px;
  }
}
.u-btn-round option
{
  color: black;
}
.u-form-group
{
  text-align: center;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 20px;
}