.u-section-1 .u-sheet-1 {
  min-height: 458px;
}

.u-section-1 .u-form-1 {
  width: 570px;
  margin: 57px auto 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  letter-spacing: 0px;
  background-image: none;
  font-weight: 300;
  margin: -60px auto 60px 452px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-2 {
    margin-left: 252px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-2 {
    margin-left: 32px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-form-group-1 {
    width: 100%;
  }

  .u-section-1 .u-form-group-2 {
    width: 100%;
  }

  .u-section-1 .u-form-group-3 {
    width: 100%;
  }

  .u-section-1 .u-form-group-4 {
    width: 100%;
  }
}