@font-face {
    font-family: 'Redressed';
    src: url('Redressed-Regular.eot');
    src: local('Redressed Regular'), local('Redressed-Regular'),
        url('Redressed-Regular.eot?#iefix') format('embedded-opentype'),
        url('Redressed-Regular.woff2') format('woff2'),
        url('Redressed-Regular.woff') format('woff'),
        url('Redressed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

